{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <table class="table table-striped table-hover ">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Elevator</th>
                <th scope="col">Current floor</th>
                <th scope="col">Total floors traveled</th>
            </tr>
            </thead>
            <tbody>
            {% for register in report %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ register.fecha }}</td>
                    <td>{{ register.id_elevador }}</td>
                    <td>{{ register.current_floor_elevador }}</td>
                    <td>{{ register.total_number_floors_traveled }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

